<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jalandhar.sakshiaggarwal.myfirebasephone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mynavigation"
            android:label="@string/title_activity_mynavigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Default" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Class6th">
            <intent-filter>
                <action android:name="android.intent.action.Default" />
            </intent-filter>
        </activity>
        <activity android:name=".Class7th">
            <intent-filter>
                <action android:name="android.intent.action.Default" />
            </intent-filter>
        </activity>
        <activity android:name=".Class8th">
            <intent-filter>
                <action android:name="android.intent.action.Default" />
            </intent-filter>
        </activity>
        <activity android:name=".Class9th">
        <intent-filter>
            <action android:name="android.intent.action.Default" />
        </intent-filter>
    </activity>
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myphnotpsend">
            <intent-filter>
                <action android:name="android.intent.action.Default" />
            </intent-filter>
        </activity>
        <activity android:name=".myphnno">
            <intent-filter>
                <action android:name="android.intent.action.Default" />
            </intent-filter>
        </activity>
    </application>
</manifest>